<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label>Username:</label>
    <input type="text" name="username" required>
    <label>Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
    <div th:if="${param.error}" style="color: red;">
        Invalid username or password
    </div>
    <div th:if="${param.logout}" style="color: green;">
        You have been logged out
    </div>
</form>

</div>
</body>
</html>